<ol class="breadcrumb">
  <li class="breadcrumb-item" ui-sref-active="active"><a ui-sref="home">Home</a></li>
</ol>
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <h1>Welcome to our Restaurant</h1>
        <div>Phew! I found that assignment quite tricky. But hey-ho at least I learned a lot. But anyway that's enought from me.
        Take a look at the categories</div>
        <button class="btn btn-default btn-block"><a ui-sref="categories">All the Categories</a></button>
    </div>
    <div class="col-2"></div>
  </div>
</div>
